/* CSS variables */
:root {
  /* Colors */
  --color-indigo-dye: hsla(211, 39%, 26%, 1);
  --color-rich-black: hsla(207, 31%, 6%, 1);
  --color-alice-blue: hsla(212, 60%, 95%, 1);
  --color-oxford-blue: #31394a;
  --color-snuff-gray: #dbdbeb;
  --color-blue-soft: #5c84ac;
  --color-blue-gray: #84a4c4;
}

/* Global styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
  color: var(--color-snuff-gray);
}

.flex-container {
  display: flex;
  flex: 1;
}

.left {
  width: 35%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1548413935-a7d015ff5865?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=715&q=80);
  background-size: cover;
}

.right {
  background-color: var(--color-oxford-blue);
  width: calc(100% - 35%);
  padding: 8rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top,
.bottom {
  margin: 1em 0;
}

.mid {
  background-color: rgba(0, 0, 0, 0.35);
}

/* Typography */
h5 {
  padding-left: 2rem;
}

.top > h5 {
  margin: 0.3rem 0;
}

.mid > h5 {
  padding-top: 2.5rem;
}

.hero-logo {
  width: 100%;
  background-color: hsla(207, 31%, 6%, 0.7);
  height: 200px;
  margin-top: 15rem;
  display: flex;
  justify-content: center;
}

.hero-logo > img {
  width: 30%;
  object-fit: contain;
}

.hero-text {
  text-align: center;
  line-height: 200px;
}

/* Footer */
.attributes {
  position: fixed;
  font-size: 0.8rem;
  bottom: 0;
  left: 0;
  width: 35%;
  padding: 1em;
  text-align: center;
  background-color: hsla(211, 39%, 26%, 0.3);
  color: var(--color-alice-blue);
}

.attributes a {
  text-decoration: none;
  color: inherit;
}

.attributes a:hover {
  text-decoration: underline;
}

/* Form */
form {
  font-size: 1rem;
  padding: 2rem;
  width: 600px;
  gap: 1rem;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.group {
  display: flex;
  flex-direction: column;
  width: calc(50% - 0.5rem); /* Adjust the spacing between columns here */
}

form label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form input[type="number"],
form input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 5px;
  color: var(--color-rich-black);
}

form input[type="password"] {
  letter-spacing: 0.3rem;
}

#signbtn {
  background-color: var(--color-indigo-dye);
  color: var(--color-alice-blue);
  border: none;
  border-radius: 15px;
  padding: 1em 2em;
  font-size: 1.2rem;
  cursor: pointer;
  margin-left: 2rem;
  margin-bottom: 1rem;
}

#signbtn:hover {
  background-color: var(--color-rich-black);
}

.login a {
  color: var(--color-snuff-gray);
  text-decoration: none;
}

.login a:hover {
  text-decoration: underline;
}
