:root {
  /* CSS HSL */
  --indigo-dye: hsla(211, 39%, 26%, 1);
  --rich-black: hsla(207, 31%, 6%, 1);
  --alice-blue: hsla(212, 60%, 95%, 1);
  --oxford-blue: #31394a;
  --snuff-gray: #dbdbeb;
  --blue-soft: #5c84ac;
  --blue-gray: #84a4c4;
}

* {
  margin: 0;
  padding: 0;
  color: var(--snuff-gray);
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow: hidden;
  font-size: 1.5rem;
}

.flex-container {
  display: flex;
  flex: 1;
}

.left {
  width: 35%;
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1548413935-a7d015ff5865?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=715&q=80);
  background-size: cover;
}

.right {
  background-color: var(--oxford-blue);
  width: calc(100% - 35%);
  padding: 8rem 2rem;
}

.right > .mid,
.top,
.bottom {
  margin: 1em 1em;
}

form {
  font-size: 1rem;
}

#signbtn {
  background-color: var(--indigo-dye);
  border-radius: 15px;
  padding: 1em;
}

.login {
  margin-top: 1rem;
}
